# --- Unity ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Uu]ser[Ss]ettings/
[Ll]ogs/

# Ignorar todo en Packages excepto manifest.json y packages-lock.json
Packages/
!Packages/manifest.json
!Packages/packages-lock.json

# Archivos de compilación y dependencias de Unity
[Bb]uilds/
[Bb]uild/
[Bb]undle/
MemoryCaptures/

# Archivos de Visual Studio y Rider
.vs/
*.csproj
*.sln*
*.suo
*.user
*.userosscache
*.pidb
*.svclog
*.pdb
*.ilk
*.obj
*.idb
*.tlog
*.log
*.VC.db
*.opendb
*.ipch

# Ignorar archivos de JetBrains Rider
.idea/
*.iml

# Archivos de TextMesh Pro generados
[Tt]extMesh Pro/

# Archivos de sistema innecesarios
.DS_Store
Thumbs.db

# Configuración de Unity específica del usuario
*.swp
*.code-workspace
